@import url('./index.css');

.background-animate{
    width: 100vw;
    height: 100vh;
    /* display: none; */
    /* z-index: 0; */
    background-image: 
        url('/img/index_modificade_1600x900.jpg'),
        radial-gradient(circle, #7e0e5b, #250c65)
        ;
    /* background-image: linear-gradient(to right,
            #7e0e5b, 
            #240B34 8% 20%, 
            #250C65 45% 55%, 
            #240B34 80% 92%, 
            #7e0e5b); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
}
@media only screen and (max-width: 1600px) {
    
}
.background-animate > span{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0px;
    position: absolute;
    border-radius: 50px;
}
.background-animate .top-left{
    top: 14.5%;
    left: 0%;
    background-color: rgb(85, 187, 255);
    animation: top-left 5s infinite alternate;
}
.dis-s-sem-left{
    top: 29%;
    left: 6.5%;
    background-color: aqua;
    animation: dis-s-sem-left 4s linear infinite alternate;
}
.sem-left{
    top: 39.2%;
    left: 0%;
    background-color: azure;
    animation: sem-left 4s linear infinite alternate;
}
.dis-sem-left{
    top: 42.6%;
    left: 9%;
    background-color: aqua;
    animation: dis-sem-left 4s linear infinite alternate;
}
.mid-left{
    top: 50.6%;
    left: 0%;
    background-color: red;
    animation: mid-left 4s linear infinite alternate;
}
.sem-bott-left{
    top: 61.8%;
    left: 0%;
    background-color: blueviolet;
    animation: sem-bott-left 4s linear infinite alternate;
}
.sem-s-bott-left{
    top: 73.7%;
    left: 0%;
    background-color: rgb(3, 254, 104);  
    animation: sem-s-bott-left 2s linear infinite alternate;
}
.bottom-left{
    top: 77%;
    left: 0%;
    background-color: rgb(187, 254, 3);  
    animation: bottom-left 5s linear infinite alternate;
}
/* --------------------------Animacion_Izquiera--------------------------------- */
.dis-top-right{
    top:14%;
    left: 96%;
    background-color: green;  
    animation: dis-top-right 4s linear infinite alternate;  
}
.mid-right{
    top:43.5%;
    left: 99.7%;
    background-color: aqua;
    animation: mid-right 3s linear infinite alternate;
}
.sem-right{
    top: 60.2%;
    left: 99.7%;
    background-color: red;
    animation: sem-right 2s linear infinite alternate;
}
.sem-s-right{
    top: 63.3%;
    left: 99.7%;
    background-color: violet;
    animation: sem-s-right 3.5s linear infinite alternate;
}
.sem-m-right{
    top: 72.5%;
    left: 99.7%;
    background-color: aqua;
    animation: sem-m-right 5s linear infinite alternate;
}
.sem-bott-right{
    top: 74.3%;
    left: 99.7%;
    background-color: violet;
    animation: sem-bott-right 2s linear infinite alternate;
}
.sem-s-bott-right{
    top: 78.7%;
    left: 99.7%;
    background-color: aquamarine;
    animation: sem-s-bott-right 1.5s linear infinite alternate;
}
.bottom-right{
    top: 82.2%;
    left: 99.7%;
    background-color: aqua;
    animation: bottom-right 4s linear infinite alternate;
}
@media only screen and (min-width:1440px) {
    /* -----------------------Animation Izquierda----------------------------- */
    @keyframes top-left {
        0% {
            transform: translate(0%, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            width: 4px;
            height: 4px;
        }
        15%{
            transform: translateX(5vw);
            box-shadow: 0 0 2px 1px 0 rgb(7, 200, 227);
            width: 4px;
            height: 4px;
        }
        35%{
            transform: translate(9vw, -4.2vh);
            box-shadow: 0 0 4px 2.5px 2px rgb(7, 200, 227);
            width: 6px;
            height: 6px;
        }
        90%{
            width: 10px;
            height: 10px;
        }
        100%{
            transform: translate(46vw, -4.2vh);
            box-shadow: 0px 0px 20px 5px rgb(7, 200, 227);
            width: 10px;
            height: 10px;
        }
    }
    @keyframes dis-s-sem-left{
        0% {
            transform: translate(0, 0);
        }
        14%{
            transform: translateX(10.5vw);
        }
        20%{
            transform: translate(12vw, 3vh);   
        }
        25%{
            transform: translate(14.5vw, 3vh);
        }
        30%{
            transform: translate(15.5vw, 5vh);
        }
        40%{
            transform: translate(20vw, 5vh);
        }
        45%{
            transform: translate(21vw, 3vh);
        }
        100%{
            transform: translate(54.5vw, 3vh);
        }
    }
    @keyframes sem-left {
        0% {
            transform: translate(0, 0);
        }
        5%{
            transform: translate(1vw, 0);
        }
        10%{
            transform: translate(2vw , 2vh);
        }
        15%{
            transform: translate(4vw, 2vh);   
        }
        20%{
            transform: translate(4.2vw, 3.5vh);
        }
        30%{
            transform: translate(8vw, 3.5vh);
        }
        35%{
            transform: translate(9vw, 2vh);
        }
        100%{
            transform: translate(34vw, 2vh);
        }
    }
    @keyframes dis-sem-left {
        0%{
            transform: translate(0, 0);
        }
        80%{
            transform: translate(30.5vw, 0);
        }
        85%{
            transform: translate(32vw, -2.3vh);
        }
        95%{
            transform: translate(34.8vw,-2.3vh);
        }
        100%{
            transform: translate(35vw, -5vh);
        }
    }
    @keyframes mid-left {
        0%{
            transform: translate(0, 0);
        }
        79%{
            transform: translate(49vw, 0);
        }
        85%{
            transform: translate(51vw, -3.3vh);
        }
        95%{
            transform: translate(55.8vw, -3.3vh);
        }
        100%{
            transform: translate(56vw, -7.5vh);
        }
    }
    @keyframes sem-bott-left {
        0% {
            transform: translate(0, 0);
        }
        100%{
            transform: translate(38vw, 0);
        }
    }
    @keyframes sem-s-bott-left {
        0% {
            transform: translate(0, 0);
        }
        100%{
            transform: translate(22vw, 0);
        }
    }
    @keyframes bottom-left {
        0%{
            transform: translate(0, 0);
        }
        45%{
            transform: translate(18vw, 0);
        }
        50%{
            transform: translate(19.5vw, 2vh);
        }
        57%{
            transform: translate(24vw, 2vh);
        }
        63%{
            transform: translate(25.5vw, 0);
        }
        67%{
            transform: translate(27vw, 0);
        }
        73%{
            transform: translate(29vw, -3vh);
        }
        100%{
            transform: translate(39.7vw, -3vh);
        }
    }
    /* -----------------------Animation right -------------------------- */

    @keyframes dis-top-right {
        0%{
            transform: translate(0, 0);
        }
        70%{
            transform: translate(-19vw, 0); 
        }
        81%{
            transform: translate(-21vw, -2vh);
        }
        94%{
            transform: translate(-23.4vw, -2vh);
        }
        100%{
            transform: translate(-23.5vw, -4.5vh);
        }
    }
    @keyframes mid-right {
        0%{
            transform: translate(0, 0);
        }
        50%{
            transform: translate(-18vw, 0);
        }
        55%{
            transform: translate(-18.5vw, 1.5vh);
        }
        65%{
            transform: translate(-22vw, 1.5vh);
        }
        73%{
            transform: translate(-23vw, 0);
        }
        77%{
            transform: translate(-24.5vw, 0);
        }
        80%{
            transform: translate(-25.5vw, -2.5vh);
        }
        /*
        */
        100%{
            transform: translate(-34.5vw, -2.5vh);
        }
    }
    @keyframes sem-right {
        0%{
            transform: translate(0, 0);
        }
        100%{
            transform: translate(-19.5vw, 0);
        }
    }
    @keyframes sem-s-right {
        0%{
            transform: translate(0, 0);
        }
        100%{
            transform: translate(-34vw, 0);
        }
    }
    @keyframes sem-m-right {
        0%{
            transform: translate(0, 0);
        }
        50%{
            transform: translate(-25vw, 0);
        }
        56%{
            transform: translate(-25.5vw, 1.5vh);
        }
        65%{
            transform: translate(-29vw, 1.5vh);
        }
        70%{
            transform: translate(-30vw, 0);
        }
        75%{
            transform: translate(-31.5vw, 0);
        }
        80%{
            transform: translate(-32.5vw, -2.5vh);
        }
        100%{
            transform: translate(-41vw, -2.5vh);
        }
    }
    @keyframes sem-bott-right {
        0%{
            transform: translate(0, 0);
        }
        100%{
            transform: translate(-19vw, 0);
        }
    }
    @keyframes sem-s-bott-right {
        0%{
            transform: translate(0, 0);
        }
        100%{
            transform: translate(-13vw, 0);
        }
    }
    @keyframes bottom-right {
        0%{
            transform: translate(0, 0);
        }
        70%{
            transform: translate(-48.5vw, 0);
        }
        78%{
            transform: translate(-50.5vw, -3.4vh);
        }
        92%{
            transform: translate(-55.55vw, -3.4vh);
        }
        100%{
            transform: translate(-55.7vw, -7.7vh);
        }
    }
    
    
}