@font-face {
    font-family: 'lazy-tueday';
    src: url('../fonts/Lazy_Tuesday_Fon/Lazy\ Tuesday\ -\ Personal\ Use\ 400.otf') format(truetype);
}
@font-face {
    font-family: 'retro-txt';
    src: url('../fonts/Retro_font/PressStart2P.ttf') format(truetype);
}
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format(truetype);
}
@font-face{
    font-family: 'font-42';
    src: url('../fonts/font/CCResistanceIsLowered-Bold.ttf') format(truetype);
}
@font-face {
    font-family: 'font-two-42';
    src: url('../fonts/Open_Sans/static/OpenSans-Medium.ttf');
}
/* *Paleta de colores */
:root{
    /* !page loading */
    --pageone-primary-txt: #FFFB8C;
    --pageone-second-txt: #F74766;
    --pageone-primary-back: #750B53;
    --pageone-second-back: #220B37;
    --pageone-third-back: #240B63;
    --pageone-shadow: #000000a9;
    /* !page index   */
    --index-primary-txt: ;
    --index-second-txt: ;
    --index-primary-back: ;
    --index-second-back: ;
    /* cards */
    --color-cursus42-one: #04536da3;
    --color-cursus42-two: #021546;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ? Agregar paleta de colores*/