@import url('./src/styles/base.css');

.container_background{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/Principal_intro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}
.container_background > img{
    width: inherit;
    height: inherit;
}
.title_welcome{
    width: 90%;
    font-size: 4.5vw;;
    top: 3.5%;
    left: 50%;
    perspective: 1000px;
    transform: translateX(-50%);
    position: absolute;
}
.gradient_txt{
    text-align: center;
    background-image: linear-gradient(var(--pageone-primary-txt), var(--pageone-second-txt));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-family: 'retro-txt';
    transform: rotateX(50deg)
}
.btn_start{
    position: absolute;
    font-size: 5vw;
    top: 35%;
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el contenedor */
    perspective: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra vertical y horizontalmente el contenido */
}
.btn_behind{
    box-shadow: var(--pageone-shadow) 0px 30px 40px, var(--pageone-primary-back) 0px 35px 40px;
    text-align: center;
    padding: 45px 45px 45px 60px;
    transform: rotateX(50deg);
    background-color: #a599ac96;
}
@media only screen and (max-width:1366px)
{
	.title_welcome{
		width: 80%;
		font-size: 5vw;
	}
	.btn_start{
		font-size: 7.5vw;
		top: 35%;
		left: 50%;
	}
}
@media only screen and (max-width:770px) {
    .container_background{
        background-image: url('../img/Principal_intro_800_1280.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
	.title_welcome{
		width: 80%;
		font-size: 6vw;
	}
	.btn_start{
		font-size: 10vw;
		top: 35%;
		left: 50%;
	}
}
@media only screen and (max-width:380px){
    /* .container_background{
        background-image: url('img/Principal_intro_800_1280.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 120% 130%;
    } */
	.title_welcome{
		width: 90%;
		font-size: 8vw;
		letter-spacing: -1px;
	}
	.btn_start{
		font-size: 12vw;
	}
	.btn_behind{
		padding: 30px 30px 30px 45px;
	}
}



/* paleta de colores de crystal buble */
:root {
    /** primary **/
    --ion-color-primary: #6c4f78;
    --ion-color-primary-rgb: rgb(217, 198, 180);
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: rgb(0, 0, 0);
    --ion-color-primary-shade: #bfae9e;
    --ion-color-primary-tint: #ddccbc;
  
    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
  
    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
  
    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
}