@media only screen and (width <= 1024px) {
    nav{
        padding: 0 45px;
    }
    .home section .info_us{
        width: 80%;
    }
    .home .bg_black{
        background-size: cover;
    }
    .home .contact a,.contact_me .contact_data a{
        height: 35px;
        font-size: .8rem;
    }
    /*-------------------About_me--------------------*/
    .about_me .contain_about .info_about span, 
    .about_me .education_about .box_edu > span, 
    .contact_me .contain_cont > span {
        font-size: 100px;
    }
    .about_me .contain_about .img_about{
        max-width: 300px;
        max-height: 300px;
        margin-bottom: 40px;
    }
    .about_me .contain_about .img_about img{
        /* width: 100%; */
        height: 350px;
    }
    .about_me .info_about p,
    .about_me .education_about .item_about p,
    .contact_me .contact_data p{
        font-size: 1rem;
    }
    .about_me .education_about .top_data h1,
    .about_me .info_about h1{
        font-size: 1.6rem;
    }
}
@media only screen and (width < 790px){
    header{
        padding: 0 10px;
        font-size: 1rem;
    }
    nav{
        padding: 0 0px;
    }
    a{
        min-width: 80px;
        padding: 0 10px;
    }
    .home section .info_us > h1{
        font-size: 2.5rem;   
    }
    .home section .info_us > h3{
        font-size: 1.5rem;
    }
    .home section .info_us > p{
        font-size: 1rem;
    }
    .card .btns{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .card .btns button{
        padding: 10px;
    }
    .arrows{
        bottom: 75px;
    }
    .slider .cards_contain .card .cont{
        padding-right: 0;
        top: 10%;
    }
    .slider .cards_contain .card .cont h1{
        font-size: 30px;
        letter-spacing: 3px;
    }
    .about_me .contain_about{
        flex-direction: column-reverse;
        gap: 25px;
    }
    .about_me .info_about p{
        max-width: none;
    }
    /* -------------about------------------ */
    .about_me .contain_about .img_about {
        transform: translateX(-50px);
    }
    .about_me .contain_about .img_about img {
        width: 150%;
        height: 300px;
    }
    .about_me .education_about .top_data span{
        font-size: .8rem;
        white-space: nowrap;
    }
    /* -------------contact_me------------ */
    .contact_me{
        padding: 30px 0 50px 0;
    }
    .contact_me .contain_cont > span{
        top: -7%;
    }
    .contact_me .contain_cont{
        margin: 0 auto;
        flex-direction: column;
        gap: 60px;
    }
    .contact_me .contact_data{
        width: auto;
    }
    .contact_me .contact_form{
        width: auto;
        min-height: auto;
        border-radius: 10px;
    }
    .contact_me .contact_form form{
        padding: 10% 15%;
        border-radius: 10px;

    }
}
@media only screen and (width <= 525px){
    header{
        padding: 0 20px;
        font-size: 1rem;
        backdrop-filter: blur(0);
        box-shadow: none;
        background-color: transparent;
    }
    header .hamburguer{
        display: block;
        z-index: 10;
    }
    .home section .info_us{
        width: 100%;
        text-align: center;
    }
    .home section .info_us > h1{
        font-size: 2rem;   
    }
    .home section .info_us > h3{
        font-size: 1rem;
    }
    .home section .info_us > p{
        font-size: .8rem;
    }
    .home .contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .contact a{
        height: 30px;
        font-size: .6rem;
    }
    .hamburguer.is_activate ._top{
        position: absolute;
        top: 50%;
        transform: translateX(0) rotate(45deg);
    }
    .hamburguer.is_activate ._mid{
        opacity: 0;
        width: 0;
    }
    .hamburguer.is_activate ._bot{
        position: absolute;
        top: 50%;
        transform: translateX(0) rotate(-45deg);
    }
    nav{
        background-image: linear-gradient(to top, #5755558a, #979292b5);
        height: 280px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        padding: 80px 25px 0 25px;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        /* backdrop-filter: blur(10px); */
        filter: drop-shadow(0px 5px 10px #0e0e0ec0);
    }
    nav.is_activate{
        transform: translateY(0%);
    }
    a{
        text-align: center;
    }
    .thumbnail .item .info h3{
        letter-spacing: normal;
    }
    .card .btns{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .card .btns button{
        min-width: 110px;
        padding: 5px;
        letter-spacing: normal;
    }
    .arrows{
        bottom: 75px;
    }
    .slider .cards_contain .card .cont{
        padding-right: 0;
        top: 10%;
    }
    .slider .cards_contain .card .cont h1{
        font-size: 30px;
        letter-spacing: 3px;
    }   
    /* ------------about_me------------- */
    .about_me{
        padding: 90px 0 50px 0;
    }
    .about_me .contain_about .img_about {
        transform: translateX(-25px);
    }
    .about_me .contain_about .info_about span, 
    .about_me .education_about .box_edu > span, 
    .contact_me .contain_cont > span {
        font-size: 80px;
    }
    .about_me .education_about .box_edu > span{
        font-size: 60px;
    }
    .contact_data .contact{
        justify-content: center;
    }
    .about_me .info_about p,
    .about_me .education_about .item_about p,
    .contact_me .contact_data p{
        font-size: .8rem;
    }
    .about_me .education_about .top_data h1,
    .about_me .info_about h1{
        font-size: 1.2rem;
    }
    /* ------------Contact_me-------------- */
    .contact_me{
        padding: 110px 0 80px 0;
    }
    .contact_me .contact_form form{
        padding: 7% 10%;
    }
}
@media only screen and (width <= 400px){
    /*----------projects------------------- */
    .thumbnail {
        left: 55%;
        bottom: 20px;
    }
    @keyframes outimage{
        to{
            width: 140px;
            height: 180px;
            left: 55%;
            bottom: 20px;
            border-radius: 10px;
        }
    }
    .thumbnail .item {
        width: 140px;
        height: 180px;
        flex-shrink: 0;
        position: relative;
        color: #fff;
    }
  
    .arrows {
        bottom: 50px;
    }
    /*------------about_me--------------- */
    .about_me .contain_about .img_about{
        transform: translateX(-12px);
    }
    .about_me .contain_about .img_about img{
        width: 125%;
    }
    .about_me .education_about .box_edu > span,
    .contact_me .contain_cont > span{
        font-size: 50px;
    }
    .about_me .education_about .top_data h1,
    .about_me .info_about h1{
        font-size: 1rem;
    }
    /* ------------contact_me------------- */
    .contact_me .contact_data{
        padding: 0;
    }
    .contact_me .contact_form form {
        padding: 15% 10%;
    }
}