@media only screen and (width <= 1024px) {
    nav{
        padding: 0 45px;
    }
    .home section .info_us{
        width: 80%;
    }
    .home .bg_black{
        background-size: cover;
    }
    .home .contact a,.contact_me .contact_data a{
        height: 35px;
        font-size: .8rem;
    }
}
@media only screen and (width < 678px){
    header{
        padding: 0 10px;
        font-size: 1rem;
    }
    nav{
        padding: 0 0px;
    }
    a{
        min-width: 80px;
        padding: 0 10px;
    }
    .home section .info_us > h1{
        font-size: 2.5rem;   
    }
    .home section .info_us > h3{
        font-size: 1.5rem;
    }
    .home section .info_us > p{
        font-size: 1rem;
    }
    .card .btns{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .card .btns button{
        padding: 10px;
    }
    .arrows{
        bottom: 75px;
    }
    .slider .cards_contain .card .cont{
        padding-right: 0;
        top: 10%;
    }
    .slider .cards_contain .card .cont h1{
        font-size: 30px;
        letter-spacing: 3px;
    }   
}
/*! 375 x 667 */
/*
    *hacer un menu hamburguesa
    *ver el apartado de projectos de 42madrid
*/
@media only screen and (width <= 525px){
    header{
        padding: 0 20px;
        font-size: 1rem;
        backdrop-filter: blur(0);
        box-shadow: none;
    }
    header .hamburguer{
        display: block;
        z-index: 10;
    }
    .home section .info_us{
        width: 100%;
        text-align: center;
    }
    .home section .info_us > h1{
        font-size: 2rem;   
    }
    .home section .info_us > h3{
        font-size: 1rem;
    }
    .home section .info_us > p{
        font-size: .8rem;
    }
    .home .contact{
        display: flex;
        /* flex-direction: colu; */
        justify-content: center;
        align-items: center;
    }
    .home .contact a{
        height: 30px;
        font-size: .6rem;
    }
    .hamburguer.is_activate ._top{
        position: absolute;
        top: 50%;
        transform: translateX(0) rotate(45deg);
    }
    .hamburguer.is_activate ._mid{
        opacity: 0;
        width: 0;
    }
    .hamburguer.is_activate ._bot{
        position: absolute;
        top: 50%;
        transform: translateX(0) rotate(-45deg);
    }
    /* 
     */
    nav{
        background-color: rgba(8, 122, 223, 0.548);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(0%);
        padding: 100px 50px 0 10px;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        backdrop-filter: blur(10px);
    }
    nav.is_activate{
        transform: translateX(-100%);
    }
    a{
        text-align: start;
        /* margin-right: 20px; */
    }
/*     
    .thumbnail {
        left: 70%;
        bottom: 20px;
    }
    .thumbnail .item{
        width: 120px;
        height: 190px;
    } 
    */
    .card .btns{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .card .btns button{
        padding: 10px;
    }
    .arrows{
        bottom: 75px;
    }
    .slider .cards_contain .card .cont{
        padding-right: 0;
        top: 10%;
    }
    .slider .cards_contain .card .cont h1{
        font-size: 30px;
        letter-spacing: 3px;
    }   
    
}
/*720 x 1280*/
/*
    *mantener el nav
    *haccer mas grande el font-size
*/
