@media only screen and (width < 678px){
    header{
        padding: 0 20px;
        font-size: 1rem;
    }
    nav{
        padding: 0 20px;
    }
    a{
        /* margin-right: 20px; */
    
    }
    .card .btns{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .card .btns button{
        padding: 10px;
    }
    .arrows{
        bottom: 75px;
    }
    .slider .cards_contain .card .cont{
        padding-right: 0;
        top: 10%;
    }
    .slider .cards_contain .card .cont h1{
        font-size: 30px;
        letter-spacing: 3px;
    }   
}
/*! 375 x 667 */
/*
    *hacer un menu hamburguesa
    *ver el apartado de projectos de 42madrid
*/
@media only screen and (width <= 375px){
    header{
        padding: 0 20px;
        font-size: 1rem;
        backdrop-filter: blur(0);
        box-shadow: none;
    }
    header .hamburguer{
        display: block;
        z-index: 10;
    }

    .hamburguer.is_activate ._top{
        position: absolute;
        top: 50%;
        transform: translateX(0) rotate(45deg);
    }
    .hamburguer.is_activate ._mid{
        opacity: 0;
        width: 0;
    }
    .hamburguer.is_activate ._bot{
        position: absolute;
        top: 50%;
        transform: translateX(0) rotate(-45deg);
    }
    /* 
     */
    nav{
        background-color: rgba(8, 122, 223, 0.548);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(0%);
        padding: 100px 50px 0 10px;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        backdrop-filter: blur(10px);
    }
    nav.is_activate{
        transform: translateX(-100%);
    }
    a{
        text-align: start;
        /* margin-right: 20px; */
    }
/*     
    .thumbnail {
        left: 70%;
        bottom: 20px;
    }
    .thumbnail .item{
        width: 120px;
        height: 190px;
    } 
    */
    .card .btns{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .card .btns button{
        padding: 10px;
    }
    .arrows{
        bottom: 75px;
    }
    .slider .cards_contain .card .cont{
        padding-right: 0;
        top: 10%;
    }
    .slider .cards_contain .card .cont h1{
        font-size: 30px;
        letter-spacing: 3px;
    }   
    
}
/*720 x 1280*/
/*
    *mantener el nav
    *haccer mas grande el font-size
*/
