@import url('base.css');

/* !se cambio el main de 97 a 100 vh */
main{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main > .btn{
	width: 20px;
	height: 20px;
    top: 50%;
	font-size: 30px;
    padding: 20px;
    position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}
.btn:hover{
    background-color: rgba(66, 66, 173, 0.747);
	color: white;
	cursor: pointer;
}
.next{
    transform: translate(-50% ,-50%);
	right: 0;
    background-color: beige;
}
.prev{
    transform: translate(50% ,-50%);
	left: 0%;
    background-color: beige;
}
.nav_slider{
    width: 500%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    white-space: nowrap;
	transition: .3s;
    scroll-snap-type: x mandatory;
    /* background-color: rgb(255, 0, 0);  */
}
/*
    ! pensar en implementar media queries para el height de la pantalla y hacer que los contenedores se ajusten dependiendo al dispositivo
 */
.nav_slider > .slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	transition: .3s;
    /* z-index: 0; */
}
.slide > h1{
    font-family: 'lazy-tueday';
    margin-bottom: 50px;
    font-size: 5em;
    color: rgba(165, 235, 251, 1);
}
/* ?---------------------CARD-HOME------------------------------- */
/* !Ver esta parte y quitar el backdrop de abajo y z-index */
._home{
    /* background-color: rgba(255, 255, 255, 0.223); */
    backdrop-filter: blur(0.5px);
}
.home_container{
    width: 85%;
	height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;	
    align-items: center;
    border-radius: 20px;
	background-color: rgba(186, 98, 98, 0.4);
}
.home_container .info{
    width: 60%;
    height: 100%;
    padding: 100px 0;
    /* overflow-wrap: break-word; */
}
.info > p {
    /* width: 100%; */
    font-size: 20px;
    white-space: normal;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.821);
}
.home_container .cont_img{
    width: 25%;
    height: 70%;
}
.cont_img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/* ?---------------------CARD-PROJECTS-------------------------- */
._projects{
    /* background-color: rgba(11, 104, 11, 0.507); */
    backdrop-filter: blur(0.5px);
}
._projects > h1{
    transform: translateY(50%);
    z-index: 1;
}
.projects_container{
    width: 95%;
    height: 100%;
    /* margin-bottom: 20px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
}
.projects_container > div{
    width: 50%;
    height: 100%;
}
.projects_info{
    /* background-color: azure; */
    display: flex;
}
.projects_info .background_window{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient(#04536d, #03060b);
    /* backdrop-filter: blur(0.5px); */

}
.background_window img{
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(transparent, black 30%, transparent 90%);
}
.projects_card{
    /* background-color: azure; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.projects_card .card{
    width: 32.5%;
    min-height: 350px;
    height: 50%;
    transform: translateY(-15%);
    /* background-color: black; */
    border-radius: 15px;
}
.campus_42{
    position: relative;
    background-image: linear-gradient(#04536d, #021546bc);
}
.campus_42 .img_back{
    position: absolute;
    width: 100%;
    height: 45%;
    top: 50%;
    transform: translate(0, -50%);
    mask-image: linear-gradient(transparent, black 10% 80%, transparent);
}
.campus_42 .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(var(--color-cursus42-one), var(--color-cursus42-two));
    border-radius: 15px;
    padding: 30px 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.campus_42 .logo_42{
    width: 100%;
    height: auto;
}
.campus_42 .logo_pineapple_1{
    max-width: 100px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 93%;
    left: 8%;
}
.campus_42 .logo_pineapple_2{
    width: 75px;
    position: absolute;
    top: 65%;
    right: 3%;
    transform: rotateY(180deg) translate(-50%, -50%);
}
.campus_42 .info > h1{
    font-family: 'font-two-42';
    margin-top: 2rem;
    font-size: 1.5vw;
    font-style: italic;
    color: #01CCED;
}
.campus_42 > h1 .font_txt{
    font-family: 'font-42';
}
.campus_42 .color_title1{
    color: white;
}
.campus_42 .color_title2{
    color: #EDC418;
}
/* .campus_42:hover{
}
.campus_42 .info:hover{
    background-color: white;
} */
.list_buy{
    background-color: antiquewhite;
}
.crystal_bubble{
    background-color: antiquewhite;
}
/* ---------------------CARD ABOUT_ME-------------------------- */
._about_me{
    background-color: rgba(30, 79, 153, 0.507);
    backdrop-filter: blur(0.5px);
}
/* ---------------------CARD CONTACT--------------------------- */
._contact{
    background-color: rgba(115, 12, 110, 0.507);
    backdrop-filter: blur(0.5px);
}
/* ---------------------CARD CV-------------------------------- */
._cv{
    background-color: rgba(113, 8, 45, 0.507);
    backdrop-filter: blur(0.5px);
}
/* --------------------Menu Flotante de abojo------------------ */
.bar_nav_float{
    width: 50%;
    max-height: 70px;
    height: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: space-between;
}
.bar_nav_float > span{
    width: 10%;
    height: 100%;
}
.bar_nav_float > span img{
    width: 100%;
    height: 100%;
}